.divMain{
    display: flex;
    justify-content:center;
    font-size: large;
    
}
.divMain > .divImg > img {
    padding-left: 10px;
    padding-right: 100px;
    width: 130px;
    height: 170px;
}
.divMain > .divImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divBtnCheck{
    margin: 80px;
    /* background-color: red; */
    
}

.divDescricao{
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}

/* .modal{
    position: 'absolute';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50%)';
    width: 400;
    background-color:'background.paper' ;
    box-shadow:'1px 1px 1.5px black' ;
    /* // border: '2px solid #000'; 
    padding: 4;
} */