.userCard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnPerfilFinancas{
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: #e5e5e5;
    height: 30px;
    width: 180px;
    /* margin-top: 7px; */
    color: #2d1818;
    font-size: medium;
}