h2{
    color: #2d1818;
}

.formConhecer{
    flex-direction: column;
}

.campoSaldoMensal{
    background-color: #e5e5e5;
    height: 25px;
    width: 250px;
}

.campoPrecoPrioridade{
    background-color: #e5e5e5;
    height: 25px;
    width: 100px;
}

.campoLojaPrioridade{
    background-color: #e5e5e5;
    height: 25px;
    width: 100px;
}

.labelConhecer{
    color: #2d1818 ;
    font-size:large;
}

.buttonConhecer{
    background-color: #e5e5e5;
    height: 25px;
    width: 200px;
    margin-top: 7px;
    color: #2d1818;
    font-size: medium;
}

.radioConhecer{

}

.selectConhecer{
    background-color: #e5e5e5;
    height: 25px;
    width: 200px;
    margin-top: 10px;
    color: #2d1818;
    font-size: medium;
}