.list{
    display: flex;
    /* position: absolute; */
    list-style: none;
    background-color: #2d1818;
    /* bottom:0; */
    margin-bottom: 1px;
    /* padding-bottom: 70px;
    margin-top: 370px; */
}

.item{
    background-color: #2d1818;
    margin-right: 5em;
    margin-top: 40px;
    color: #7f7777;
}

.emailIcon{
    background-color: #2d1818;
    color: #7f7777;
}
