.list{
    display: flex;
    list-style: none;
    background-color: #2d1818;
    margin-bottom: 1px;
}

.item{
    background-color: #2d1818;
    margin-right: 5em;
    margin-top: 40px;
    color: #7f7777;
}

.emailIcon{
    background-color: #2d1818;
    color: #7f7777;
}

.footer{

}