h2{
    color: #2d1818;
}

.formLogin{
    flex-direction: column;
}

.campo{
    background-color: #e5e5e5;
    height: 25px;
    width: 300px;
}

.labelLogin{
    color: #2d1818 ;
    font-size:large;
}

.buttonLogin{
    background-color: #e5e5e5;
    height: 25px;
    width: 200px;
    margin-top: 7px;
    color: #2d1818;
    font-size: medium;
}

.labelNaoTem{
    color: #2d1818;
    font-size: smaller;
}

.CadastroIcon{
    color: #2d1818;
}