*{
  font-family: Arial, Helvetica, sans-serif;
}

html{
  min-height: 100%;
}

.App {
  text-align: center;
  min-height: 100%;
}
body{
  background-color: #e2c9ac;
  min-height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}


/* paleta de cor */
/*.color1 {color: #e2a4b8;} rosinha
.color2 {color: #e2c9ac;} amarelado
.color3 {color: #2d1818;} marrom
.color4 {color: #7f7777;} cinza marrom
.color5 {color: #e5e5e5;} branco*/

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

